.postContent {
  &:before {
    content: ' ';
    display: block;
    margin: 30px 2%;
  }

  margin: 20px 2vw 10px;
  font-size: 18px;
  word-break: break-word;

  p strong,
  li strong {
    font-weight: bold;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }

  a:hover {
    color: salmon;
  }

  ul {
    margin-bottom: 1rem;
    line-height: 180%;

    li {
      list-style: none;
      padding-left: 1rem;

      &:before {
        content: '- ';
      }
    }
  }

  ol {
    margin-bottom: 1rem;
    line-height: 180%;
  }

  p img {
    margin: 15px 0;
    max-width: 700px;
    width: -webkit-fill-available;
  }

  h1 {
    font-size: var(--8xl);
  }

  h2 {
    font-weight: 800;
    font-size: var(--6xl);
  }

  h3 {
    font-size: var(--4xl);
    font-weight: 700;
  }

  h4 {
    font-size: var(--3xl);
  }

  h1,
  h2,
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 150%;
  }

  h1,
  h2 {
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    padding-bottom: 1rem;
  }

  h2,
  h3 {
    &:before {
      content: '# ';
    }
  }

  // h2 바로 아래 p는 margin-top 제거
  p:where(h2 + *):not(:where([class~='not-p'] *)) {
    margin-top: 0;
  }
}