@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_mixin.scss";
@import "./post.scss";

@layer base {
  ol {
    list-style: revert;
  }
}

@layer components {
  .lg-gap {
    @apply max-w-[calc(980px_-_150px)]
  }
}

// 여기 수정할거면 settings.variables.scss도 수정해야
:root {
  box-sizing: border-box;
  --deep-blue: #1e293b; // tailwind deep-blue
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  background-color: white;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--deep-blue);
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  letter-spacing: -0.5px;

  > div {
    width: -webkit-fill-available;

  }
}

@media (min-width: #{$breakpoint-desktop}) {
  .post-content h1, .post-content h2, .post-content h3, .post-content h4 {
    margin-top: 2.3rem;
    margin-bottom: 1px;
  }
}

// drag 시 컬러
::selection, ::-moz-selection {
  background: lighten(#1e293b, 10%);
  color: white;
}

//svg:not(:root) {
//  overflow: hidden;
//}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

pre {
  overflow-x: auto;
}
