// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 980px; // max-width

/*------------------------------------*\
    #COLOURS
\*------------------------------------*/


$theme1-color: #1e293b; //#2c3c55;
$theme2-color: #5e7692; //#5e7aa0;
$hover-color: salmon; //#a0afb9; //#8ba0bb;
$color-pale-bg: #ffffff;
$border-color: rgb(241 245 249 / 1);

$border-on-light: darken($color-pale-bg, 5%);
