@import "#styles/_mixin";

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  height: 2em; // 폰트 사이즈의 2배 (이걸 rem으로 하면 컨텍스트를 신경쓰지 않고 루트 엘리먼트 기준으로 하기때문)
  font-size: 1.5rem; // 폰트 사이즈만 rem으로 하는 이유: 현재 폰트 사이즈의 비율을 활용할 수 있다.

  p {
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
  }

  small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
  }
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.description {
  font-size: 1.2rem;
  color: #888;
  // max-width
  margin: 0 auto;

  strong {
    float: left;
    margin-right: 0.2em; // 글자 크기 기준으로 하고 싶어서
    font-size: 2rem; // 위에서 아래 폰트사이즈의 기준으로 하기 위함 (html 폰트사이즈*2*0.2)한게 위 마진 사이즈
    color: rgb(29, 29, 31);
  }
}

.desc-message {
  width: 50%;
  font-weight: bold;
}

.pin { // 선
  width: 1px;
  height: 100px;
  background: black;
}

.mid-message {
  //max-width: ;
  margin: 0 auto;
  font-size: 2rem;
  color: #888;

  strong {
    font-weight: bold;
    color: rgb(29, 29, 31);
  }
}

.canvas-caption {
  //max-width: ;
  margin: 0 auto;
  color: #888;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background: var(--theme1-color);
  color: white;
}

@include desktop {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;

    small {
      font-size: 1.5vw;
    }
  }
  .description {
    font-size: 2rem;

    strong {
      font-size: 6rem;
    }
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw; // 애플은 굵직한 타이틀이 창 크기 따라가는 편
  }
  .canvas-caption {
    font-size: 2rem; // 상대단위지만 고정값
  }
}