.body_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .none {
    display: none;
  }
  .lds_ellipsis {
    display: inline-block;
    position: relative;
    // width: 200px;
    // height: 80px;
  }
  .lds_ellipsis div {
    position: absolute;
    top: -100px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--theme1-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds_ellipsis div:nth-child(1) {
    left: -28px;
    animation: lds_ellipsis1 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(2) {
    left: -28px;
    animation: lds_ellipsis2 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(3) {
    left: -4px;
    animation: lds_ellipsis2 0.6s infinite;
  }
  .lds_ellipsis div:nth-child(4) {
    left: 20px;
    animation: lds_ellipsis3 0.6s infinite;
  }
  @keyframes lds_ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds_ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds_ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }