@import "#styles/_mixin";

.navContainer {
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid var(--theme1-color);
	.siteNav {
		background-color: var(--bg-yellow--opaque);
		position: relative;
		backdrop-filter: saturate(180%) blur(20px);
		top: 0;
		z-index: 100;
		&.open {
			padding-bottom: 90vh;
		}
	}
  }


.navMenuUl {
	display: flex;
	position: absolute;
    top: 0;
    right: 0;
	justify-content: space-around;
	float: right;
	padding: 15px 0;
	margin-right: 30px;
	a{
		font-weight: 800;	
	}
}

.threeBarNav {
	display: block;
	cursor: pointer;
	margin: 1rem;
	float: right;
	@at-root .navMenuUl {
		display: none;
	}
}
	
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--theme1-color);
	margin: 6px 0;
	transition: 0.4s;
}

/* mobile에서만 Rotate first bar */

@include notDesktop {
	.open {
		
		.bar1 {
			-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
			transform: rotate(-45deg) translate(-9px, 6px) ;
		}
		.bar2 {
			opacity: 0;
		}
		.bar3 {
			-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
			transform: rotate(45deg) translate(-8px, -8px) ;
		}
		.navMenuUl { // mobile 에서는 샌드위치만 보인다.
			display: flex;
			position: fixed;
			top: 60px; // 80이었음 원래
			left: 0;
			background: var(--bg-yellow);
			width: 100vw;
			height: 100vh;
			flex-flow: column nowrap;
			justify-content: flex-start;
			li {
				font-size: var(--6xl);
				margin-bottom: 2vh;
				margin-left: 8vw;
			}
		}
	}

}

@include desktop {
	.threeBarNav {
		display: none;
	}
	.navMenuUl {
		display: initial;
	}
}

@include tablet {
	.threeBarNav {
		display: none;
	}
	.navMenuUl {
		display: initial;
	}
}
