@import "style/_mixin";

.navContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--deep-brown);
  width: 100%;

  .navContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0.5rem;
    background-color: #ffffffc3;
    position: relative;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 100;
  }
}